<template>
  <div class="item d-flex" :class="{ ativo: mensagemAtiva }">
    <img :src="imagem" class="imagem me-3" />
    <div class="d-flex flex-column">
      <div class="title">{{ nomeDoUsuario }}</div>
      <div class="subtitle">{{ ultimaMensagem }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ItemDaListaDeConversa",
  props: ["nomeDoUsuario", "ultimaMensagem", "mensagemAtiva", "imagem"],
};
</script>

<style lang="scss" scoped>
.imagem {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.title {
  font-size: 16px;
  color: var(--title-color-dark);
  font-weight: 500;
  font-family: var(--font-title);
}

.subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color: var(--text-color-grey);
}

.item {
  width: 295px;
  padding: 15px 18px;
  margin-bottom: 0 !important;
}

.item:hover {
  background: var(--bground-secondary-grey);
  border-radius: 10px;
  cursor: pointer;
}

.item.ativo {
  background: var(--bground-grey-color);
  border-radius: 10px;
}
</style>
