<template>
  <div class="mensagem" v-bind:class="{ verde: verde }">
    {{ conteudo }}
    <span>{{ horario }}</span>
  </div>
</template>

<script>
export default {
  name: "MensagemDaConversaAtiva",
  props: ["conteudo", "horario", "verde"],
};
</script>

<style lang="scss" scoped>
.mensagem {
  font-size: 14px;
  background: var(--primary-color-white);
  margin: 5px 20px;
  padding: 5px 10px;
  border-radius: 8px;
  width: fit-content;
}
.mensagem.verde {
  background: var(--bground-green-color);
  align-self: flex-end;
}
.mensagem span {
  margin-left: 25px;
  font-size: 11px;
  color: var(--title-color-dark);
}
</style>
