<template>
  <div class="card" style="height: 110px">
    <div class="d-flex align-items-center mt-2">
      <span class="ms-5">Nota interna</span>
      <div class="ms-auto me-4">
        <img src="@/assets/image/close.svg" class="me-2" style="width: 30px" />
        <img src="@/assets/image/emoji_icon.svg" style="width: 30px" />
        <img src="@/assets/image/anexo_icon.svg" style="width: 30px" />
      </div>
    </div>
    <hr class="w-75 mb-3 ms-5 m-0" />
    <div class="d-flex">
      <input type="text" name="note" placeholder="Mensagem" />
      <img
        src="@/assets/image/send_yellow.svg"
        style="width: 34px"
        class="ms-2"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.dropdown-menu {
  --bs-dropdown-padding-y: 0;
}
span {
  font-family: var(--font-title);
}

input {
  width: 680px;
  background-color: var(--bground-yellow-color);
  border: none;
  border-radius: 8px;
  margin-left: 45px;
  height: 35px;
}

input::placeholder {
  color: var(--text-color-brown);
  margin-left: 30px;
}
</style>
