:root{
    --primary-color-white: #fff;
    --primary-color-black: #000;
    --bground-secondary-grey: #F0F0F0;
    --bground-grey-color: #E1E9F4;
    --bground-green-color:#A8D1D1;
    --bground-yellow-color: #FFE9A9;
    --title-color-dark: #373753;
    --text-color-grey: #677C92;
    --text-color-blue: #3057F2;
    --text-color-brown: #754000;
    --font-text: "Roboto", sans-serif;
    --font-title: 'Gabarito', sans-serif;
}