<template>
  <div class="all d-flex">
    <div class="barra-lateral d-flex flex-column align-items-center border-end">
      <img class="mt-3" src="@/assets/image/logo.svg" style="width: 42px" />
      <img
        class="phone mt-5"
        src="@/assets/image/phone.svg"
        style="width: 20px; cursor: pointer"
      />
      <img
        class="mt-4 me-3"
        src="@/assets/image/wpp.svg"
        style="width: 40px; cursor: pointer"
      />
      <img
        class="mt-auto mb-4"
        src="@/assets/image/user.svg"
        style="cursor: pointer"
      />
    </div>

    <div class="lista-conversas mt-3 d-flex flex-column align-items-center">
      <h5 class="align-self-start mx-3">Omnichannel 3C+</h5>
      <div style="width: 90%">
        <hr />

        <div class="mt-3 d-flex justify-content-between align-items-center">
          <div class="flex-nowrap">
            <i class="mx-2 bi bi-search"></i>
            <input type="text" name="search" placeholder="Pesquisar" />
          </div>

          <div class="dropdown">
            <button
              type="button"
              class="btn btn-primary botao-plus d-flex align-items-center justify-content-center"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-plus-lg"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-chat-dots"></i> Iniciar nova conversa</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-people"></i> Criar novo grupo</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-broadcast"></i> Criar lista de transmissão</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="menu d-flex justify-content-between mt-4">
          <div>
            <p class="conversas">
              Conversas <img src="@/assets/image/10.svg" />
            </p>
          </div>
          <p>Grupos <img src="@/assets/image/4.svg" /></p>
          <p>Fila <img src="@/assets/image/25.svg" /></p>
          <i class="bi bi-three-dots"></i>
        </div>
        <hr class="mb-2" />
      </div>

      <item-lista-de-conversa
        v-for="(conversa, indice) in conversas"
        :key="indice"
        :mensagemAtiva="indice == indiceAtivo"
        :nomeDoUsuario="conversa.usuario"
        :imagem="conversa.imagem"
        :ultimaMensagem="conversa.mensagens[0].conteudo"
        @click="indiceAtivo = indice"
      />
    </div>

    <div class="chat d-flex flex-column border-start">
      <div class="barra-superior border d-flex flex-row gap-2">
        <img
          :src="conversas[indiceAtivo].imagem"
          class="imagem-usuario ms-3 mt-1"
        />
        <div class="d-flex flex-column">
          <span>{{ conversas[indiceAtivo].usuario }}</span>
          <p>Agente: Alanis Machado</p>
        </div>

        <div class="d-flex ms-auto gap-2 align-items-center mx-4">
          <button
            type="button"
            class="btn btn-primary botao-finalizar d-flex align-items-center justify-content-center gap-1"
          >
            <i class="bi bi-check2-circle"></i> Finalizar
          </button>
          <button type="button" class="btn btn-light botao-dots">
            <i class="bi bi-three-dots"></i>
          </button>
        </div>
      </div>

      <div class="lista-mensagens">
        <div
          class="d-flex flex-column gap-3 align-items-center justify-content-center mt-4 mb-3"
        >
          <img src="@/assets/image/hoje.svg" />
          <img src="@/assets/image/protocolo.svg" />
        </div>
        <mensagem-da-conversa-ativa
          :conteudo="mensagem.conteudo"
          :horario="mensagem.horario"
          :verde="mensagem.verde"
          v-for="(mensagem, indice_) in conversas[indiceAtivo].mensagens"
          :key="indice_"
        />
      </div>

      <div class="barra-inferior">
        <div class="d-flex justify-content-between align-items-center ms-5">
          <span>Responder ao cliente</span>
          <div class="icons d-flex" style="cursor: pointer">
            <div class="btn-group dropup">
              <button
                type="button"
                class="btn"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="@/assets/image/note_icon.svg" />
              </button>
              <ul class="dropdown-menu dropdown-nota">
                <NotaInternaComponent />
              </ul>
            </div>

            <div class="btn-group dropup">
              <button
                type="button"
                class="btn"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="@/assets/image/emoji_icon.svg" />
              </button>
              <ul class="dropdown-menu">
                <StickersComponent />
              </ul>
            </div>

            <div class="btn-group dropup">
              <button
                type="button"
                class="btn"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="@/assets/image/anexo_icon.svg" />
              </button>
              <ul class="dropdown-menu">
                <li><i class="bi bi-filetype-doc ms-4"></i> Documento</li>
                <li><i class="bi bi-image ms-4"></i> Fotos e vídeos</li>
                <li><i class="bi bi-person ms-4"></i> Contato</li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="w-75 mb-3 ms-5" />

        <input
          type="text"
          class="input"
          v-on:keyup.enter="enviarMensagem"
          placeholder="Insira sua mensagem"
          v-model="conteudoASerEnviado"
        />
        <img
          src="@/assets/image/send.svg"
          class="mt-5 ms-2"
          style="cursor: pointer"
          v-on:click="enviarMensagemPorClique"
        />
      </div>
    </div>
  </div>
</template>

<script>
import conversasIniciais from "./dados.js";
import ItemDaListaDeConversa from "./components/ItemDaListaDeConversa.vue";
import MensagemDaConversaAtiva from "./components/MensagemDaConversaAtiva.vue";
import NotaInternaComponent from "./components/NotaInternaComponent.vue";
import StickersComponent from "./components/StickersComponent.vue";

export default {
  name: "App",
  data: function () {
    return {
      conversas: conversasIniciais,
      indiceAtivo: 0,
      conteudoASerEnviado: "",
    };
  },
  components: {
    "item-lista-de-conversa": ItemDaListaDeConversa,
    "mensagem-da-conversa-ativa": MensagemDaConversaAtiva,
    NotaInternaComponent,
    StickersComponent,
  },
  methods: {
    enviarMensagem: function () {
      let horarioAtual = new Date().getHours() + ":" + new Date().getMinutes();

      let novaMensagem = {
        horario: horarioAtual,
        conteudo: this.conteudoASerEnviado,
        verde: true,
      };

      this.conversas[this.indiceAtivo].mensagens.push(novaMensagem);

      this.conteudoASerEnviado = "";
    },
    enviarMensagemPorClique: function () {
      this.enviarMensagem();
    },
  },
};
</script>

<style lang="scss" scoped>
.all {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.barra-lateral {
  width: 3%;
  background-color: var(--primary-color-white);
}

.lista-conversas {
  width: 16%;
  height: 100%;
  background-color: var(--primary-color-white);
  color: var(--title-color-dark);

  h5 {
    font-size: 16px;
  }

  span {
    font-size: 14px;
  }
}

.lista-mensagens {
  display: contents;
}
.dropdown-nota {
  --bs-dropdown-padding-y: 0;
  min-width: 800px;
  border: none;
}
.botao-plus {
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

hr {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}
.menu {
  height: 26px;
  cursor: pointer;

  p {
    font-family: var(--font-title);
  }

  img {
    width: 20px;
  }
}

.conversas {
  color: var(--text-color-blue);
  font-weight: 500;
  border-bottom: 2px solid blue;
}
.chat {
  width: 81%;
  background-image: url(assets/image/background.svg);
}

.imagem-usuario {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.barra-superior {
  height: 56px;
  background-color: var(--primary-color-white);
  border-bottom-right-radius: 16px;

  span {
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 18px;
  }

  p {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 12px;
    color: var(--text-color-grey);
  }
}

.botao-finalizar {
  height: 35px;
  padding: 7px, 13px, 7px, 13px;
  border-radius: 10px;
}

.botao-dots {
  height: 35px;
  padding: 7px, 13px, 7px, 13px;
  border-radius: 10px;
  background-color: var(--bground-grey-color);

  i {
    color: var(--text-color-grey);
  }
}

.barra-inferior {
  bottom: 0;
  width: 80.9vw;
  height: 190px;
  padding: 10px;
  position: absolute;
  background-color: var(--primary-color-white);

  input {
    border: none;
    padding: 10px;
    margin-left: 50px;
    width: 90%;
    height: 95px;
    border-radius: 15px;
    font-size: 16px;
    background-color: var(--bground-grey-color);
  }
  span {
    font-family: var(--font-title);
    font-weight: 300;
    font-size: 16px;
  }
}

.icons {
  margin-right: 10rem;
}
</style>
